.page-header {
  padding: 0;

  .line-size(14px, 17px);
  color: @header-font;

  background-color: @header-bg;
  background-image: url("../../img/header-bg.png");
  background-position: 0 0;
  background-repeat: repeat;

  @media (min-width: @tablet-width) {
    .line-size(16px, 19px);
  }

  @media (min-width: @desktop-width) {
    .line-size(18px, 21px);
  }

  &__inner {
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 59px;

    @media (min-width: @tablet-width) {
      padding-top: 25px;
      padding-bottom: 25px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 30px;
    }
  }

  img {
    display: block;

    opacity: 1;

    &:hover,
    &:focus {
      background-color: @logo-header-hover;
      box-shadow: 0 0 50px @footer-text;
    }

    &:active {
      opacity: 0.5;
    }

    @media (min-width: @tablet-width) {
      width: 480px;
      height: 99px;
    }
  }

  &__info {
    .line-size(28px, 37px);

    @media (min-width: @tablet-width) {
      .line-size(32px, 37px);
    }
  }

  &__guide-link {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    display: block;
    width: 52px;
    height: 43px;

    @media (min-width: @tablet-width) {
      top: 50%;
      right: 50px;
      left: auto;
      transform: translateY(-50%);

      width: 78px;
      height: 65px;
    }

    &:hover,
    &:focus {
      background-color: @logo-header-hover;
      box-shadow: 0 0 50px @footer-text;
    }

    &:active {
      opacity: 0.5;
    }

    &::after {
      content: "";

      display: block;
      width: 100%;
      height: 100%;

      background-image: url("../../img/guide.svg");
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }
}
