.result {
  color: @result;

  &__title {
    .line-size(25px, 30px);

    @media (min-width: @tablet-width) {
      margin-top: 0;
      padding: 0;

      .line-size(35px, 40px);
    }
  }

  &__nothing {
    .line-size(19px, 20px);
  }
}
